.nav{
	border:2px solid black;
	/*border-radius:20px;*/
	background-color:gray;
	height:50px;
	width:1000px;
	display:flex;
	align-items: center;
}
.container{
	position:relative;
}
.container img{
	max-width:none;
	height:auto;
	width:auto;
}
.container-btn{
	position:absolute;
	top:0%;
}

