* {
	padding: 0;
	margin: 0;
	
}

.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.75)), url(t8.jpg);
	background-size: cover;
	background-position: center;
}

.forgot-form {
	width: 400px;
	height:auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #fff;
	
	 border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 25px;
  align-items: center;
  justify-content:center;
  padding: 0px 20px 0px 20px;
  backdrop-filter: blur(8px);
  
}

.forgot-form h1 {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;
	
}

.forgot-form h1:hover {
	text-decoration: underline;
}

.forgot-form p {
	font-size: 20px;
	margin: 10px 0;
}

.forgot-form input {
	background:transparent;
	font-size: 16px;
	width: 100%;
	padding: 10px 5px;
	border: 0;
	outline: none;
	border-radius: 5px;
	color:#fff;
}

.forgot-form button {
	width: 160px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 15px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	cursor: pointer;
	justify-content: space-evenly;
}

.forgot-form a {
	position: relative; 
	text-decoration : none;
	color: #fff;
	
}

.forgot-form a:hover {
	text-decoration: underline;
}

.forgot-form button:hover {
	color:#000;
	background: #fff;
}
.input-box{
  border-bottom:2px solid #fff;
}