.banner {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.75)), url(t8.jpg);
	background-size: cover;
	background-position: center;
}
.content{
	font-size:20px;
    width: 100%;
    position: absolute;
    top: 30%;
    left:5%;
    transform: translateY(-50%);
    color: white;
}
button {
	width: 100px;
	padding: 10px 0;
	text-align: center;
	margin: 10px 5px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	cursor: pointer;
	justify-content: space-evenly;
}
button:hover {
	color:#000;
	background: #fff;
}